<div>
  <ul class="list-group">
    {% for comment in post.comments.all %}
      <li class="list-group-item">

        <strong>
          <a class="text-dark" href="{% url 'users:user_detail' comment.author.id %}">
            {{ comment.author }}
          </a>
        </strong>
        <slot class="text-muted"> • {{ comment.posted_on|timesince }} ago</slot>

        <!-- MENU -->
        <div class="float-right">
          <div class="btn-group">
            <button type="button" class="btn btn-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ⋮
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="btn dropdown-item" role="button" href="{% url 'feed:comment_edit' comment.id %}">Edit</a>
              <a class="btn dropdown-item" role="button" href="{% url 'feed:comment_delete' comment.id %}">Delete</a>
            </div>
          </div>
        </div>

        <p>{{ comment.text|linebreaks }}</p>

      </li>
    {% empty %}
      <p>No comments here yet :(</p>
    {% endfor %}
  </ul>
</div>
