{% load static %}
<html>
  <head>
    <title>InstaClone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">

      <a class="navbar-brand text-dark" href="/">
        35px
      </a>

      <!-- NAV LINKS -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feed:user_list' %}">
            Directory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feed:tag_list' %}">
            Tags
          </a>
        </li>
      </ul>

      <!-- AUTHENTICATION -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          {% if user.is_authenticated %}

            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-dark"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </div>

          {% else %}

            <a class="btn btn-primary" href="{% url 'login' %}" role="button">
              Login
            </a>

          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="content container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
