{% load static %}
<html>
  <head>
    <title>InstaClone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
  </head>

  <body>
    <nav class="navbar ">
      <a class="navbar-brand" href="/">InstaClone</a>
      <a class="btn btn-primary" href="{% url 'feed:post_create' %}" role="button">New post</a>
    </nav>

    <div class="content container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
