{% extends 'feed/base.html' %}

{% block content %}
<h1 class="mb-4">
  Photographers
</h1>

<div class="card-columns">
  {% for user in object_list %}
    <div class="card text-center m-3">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'feed:user_detail' user.id %}">
            {{ user.name }}
          </a>
        </h5>
        <p class="card-text">
          <small>
            {{ user.posts.count }} posts
          </small>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
