{% extends 'feed/base.html' %}

{% block content %}
<div class="card mb-5">
  <div class="card-header">
    {{ post.user.name }}
  </div>

  <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">

  <div class="card-body">
    <h2 class=card-title>{{ post.title }}</h2>
    <p class=card-text>{{ post.caption }}</p>

    <a href="{% url 'feed:post_edit'   post.id %}">Edit</a>
    <a href="{% url 'feed:post_delete' post.id %}">Delete</a>
  </div>

  <div class="card-footer">
    <a href="{% url 'feed:post_detail' post.id %}" class="text-muted">
      {{ post.posted_on|timesince }} ago
    </a>
  </div>
</div>

<h5>{{ post.comments.count }} comment(s)</h5>
<a class="btn btn-primary mb-4" href="{% url 'feed:comment_create' post.id %}" role="button">New comment</a>
{% include "feed/comments/comment_list.html" with objects=post %}

{% endblock %}
