{% for post in object.posts.all %}
<div class="card mb-4">

  <div class="card-header">
    <a href="{% url 'feed:user_detail' post.user.id %}">{{ post.user.name }}</a>
  </div>

  <a href="{% url 'feed:post_detail' post.id %}">
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
  </a>

  <div class="card-body">
    <h2 class=card-title>{{ post.title }}</h2>
    <p class=card-text>{{ post.caption }}</p>
    {% for tag in post.tags.all %}
      <span class="badge badge-primary mb-3">
        <a class='text-white' href="{% url 'feed:tag_detail' tag.id %}">{{ tag.name }}</a>
      </span>
    {% endfor %}
    <p><a href="{% url 'feed:post_detail' pk=post.pk %}">{{ post.comments.count }} comment(s)</a></p>
  </div>

  <div class="card-footer">
    <a href="{% url 'feed:post_detail' post.id %}" class="text-muted">{{ post.posted_on|timesince }} ago</a>
  </div>

</div>
{% endfor %}
