{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">
  Photographers
</h1>

<div class="card-columns">
  {% for profile in object_list %}
    <div class="card text-center m-3">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'users:user_detail' profile.id %}">
            {{ profile.user.username }}
          </a>
        </h5>
        <p class="card-text">
          <small>
            {{ profile.photos.count }} photos
          </small>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
